body { margin: 0; }

#qzad { position: absolute; width: 100%; height: 480px; min-width: 720px; max-width: 1100px; overflow: hidden; background: url(../images/bg.jpg) no-repeat center center; }
#qzad .copy { margin: 84px 0 0 74px; }
#qzad .copy img { display: block; }
#qzad .copy img:first-child { margin: 0 0 36px 0; }
#qzad .cta { display: block; width: 172px; height: 36px; margin: 56px 0 0 74px; background-color: #005aab; border-radius: 3px; }
#qzad .cta img:first-child { padding: 10px 0 0 10px; float: left; }
#qzad .cta img:last-child { padding: 8px 0 0 10px; }
#qzad .logo { position: absolute; right: 0; bottom: 36px; width: 140px; height: 99px; background: url(../images/logo.jpg) no-repeat center center; }
#qzad .video-container { position: absolute; z-index: 101; top: 0; right: 0; bottom: 0; left: 0; background-color: black; display: none; }
#qzad .video-container .video { width: 100%; height: 100%; }
#qzad .video-container .x { color: white; position: absolute; top: 0; right: 0; font-size: 30px; width: 30px; height: 30px; cursor: pointer; text-align: center; line-height: 26px; border: 1px solid white; }
