* { margin: 0; padding: 0; }

#qzad { min-width: 718px; max-width: 1098px; height: 478px; position: relative; top: 0; left: 0; margin: 1px; border: 1px solid #094f9f; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: white; }

.bg-container { position: relative; top: 0; left: 0; right: 0; bottom: 0; }
.bg-container .fork-lift { position: absolute; width: 35%; width: 1179px; min-width: 355px; left: 1081px; top: 418px; }
.bg-container #bgImg { position: absolute; display: block; width: 263.272727273%; top: 0; left: 0; }

.frames-container { position: absolute; top: 20px; left: 20px; right: 20px; bottom: 20px; overflow: hidden; -webkit-transition: all 1.5s ease-in-out; -moz-transition: all 1.5s ease-in-out; -ms-transition: all 1.5s ease-in-out; -o-transition: all 1.5s ease-in-out; transition: all 1.5s ease-in-out; }
.frames-container a { display: block; text-decoration: none; }
.frames-container img { display: block; width: 100%; border: 0; }
.frames-container .logo { position: absolute; right: -1px; bottom: 20px; width: 18.18%%; max-width: 200px; min-width: 100px; }
.frames-container .frames { position: inherit; bottom: 0; left: 0; right: 0; top: 0; }
.frames-container .frames .copy { position: inherit; top: 20px; left: 2%; }
.frames-container .frames.f2, .frames-container .frames.f3, .frames-container .frames.f4 { display: none; }
.frames-container .frames.f1 .copy { width: 35.54%; min-width: 307px; }
.frames-container .frames.f2 .copy { width: 29.13%; min-width: 200px; }
.frames-container .frames.f3 .copy { width: 35.82%; min-width: 287px; }
.frames-container .frames.f4 .copy { top: 76px; width: 41.58%; min-width: 307px; }
.frames-container .cta { background: #094f9f; position: relative; top: 365px; bottom: 20px; height: 53px; left: 2%; width: 27.45%; max-width: 302px; min-width: 200px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.frames-container .cta img { display: block; vertical-align: middle; }
.frames-container .cta span { position: absolute; }
.frames-container .cta .cta-text { top: 16px; left: 5.09259259259%; display: block; width: 78.2407407407%; max-width: 237px; height: 53px; }
.frames-container .cta .arrow { top: 14px; right: 5.09259259259%; display: inline-block; width: 5.55555555556%; max-width: 17px; height: 19px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; }
.frames-container .cta .arrow.move { -webkit-animation: arrowmove 0.4s linear 1s 2 forwards; -moz-animation: arrowmove 0.4s linear 1s 2 forwards; -ms-animation: arrowmove 0.4s linear 1s 2 forwards; animation: arrowmove 0.4s linear 1s 2 forwards; }

@-webkit-keyframes arrowmove { 10% { right: 5.09259%; }
  49% { right: 2.31481481481%; }
  50% { right: 2.31481481481%; }
  100% { right: 5.09259%; } }

@-moz-keyframes arrowmove { 10% { right: 5.09259%; }
  49% { right: 2.31481481481%; }
  50% { right: 2.31481481481%; }
  100% { right: 5.09259%; } }

@-o-keyframes arrowmove { 10% { right: 5.09259%; }
  49% { right: 2.31481481481%; }
  50% { right: 2.31481481481%; }
  100% { right: 5.09259%; } }

@-ms-keyframes arrowmove { 10% { right: 5.09259%; }
  49% { right: 2.31481481481%; }
  50% { right: 2.31481481481%; }
  100% { right: 5.09259%; } }

@keyframes arrowmove { 10% { right: 5.09259%; }
  49% { right: 2.31481481481%; }
  50% { right: 2.31481481481%; }
  100% { right: 5.09259%; } }
