/* line 1, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/main.scss */
a {
  display: block;
}

/* line 8, ../sass/main.scss */
#qzad {
  position: relative;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 550px;
  background: url(../images/bg.jpg) right center no-repeat;
}
/* line 16, ../sass/main.scss */
#qzad .container {
  position: absolute;
  top: 36px;
  right: 33px;
  bottom: 35px;
  left: 33px;
}
/* line 23, ../sass/main.scss */
#qzad .container .connection {
  margin-top: 70px;
}
/* line 26, ../sass/main.scss */
#qzad .container .divider {
  margin-top: 65px;
}
/* line 29, ../sass/main.scss */
#qzad .container .see-how {
  margin-top: 31px;
  display: inline-block;
}
/* line 33, ../sass/main.scss */
#qzad .container .sponsor {
  width: 100%;
  margin-top: 36px;
  display: inline-block;
}
/* line 38, ../sass/main.scss */
#qzad .container .sponsor img {
  width: 230px;
  margin: 0 auto;
  display: block;
}
