/* line 1, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/main.scss */
a {
  display: block;
}

/* line 8, ../sass/main.scss */
#qzad {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 1100px;
  min-width: 700px;
  height: 480px;
  background: url(../images/bg.jpg) right center no-repeat;
}
/* line 17, ../sass/main.scss */
#qzad .container {
  position: absolute;
  top: 50px;
  right: 22px;
  bottom: 24px;
  left: 7%;
}
/* line 24, ../sass/main.scss */
#qzad .container .connection {
  margin-top: 44px;
}
/* line 27, ../sass/main.scss */
#qzad .container .divider {
  margin-top: 77px;
}
/* line 30, ../sass/main.scss */
#qzad .container .see-how {
  margin-top: 31px;
  display: inline-block;
  float: left;
}
/* line 35, ../sass/main.scss */
#qzad .container .sponsor {
  margin-top: 36px;
  display: inline-block;
  float: right;
}
