body {
	margin: 0;
	padding: 0;
}
a {
	display: block;
}
#qzad {
	position:relative;
	bottom: 0;
	left:0;
	width: 320px;
	height:150px;
	background: url(../images/bg.jpg) right center no-repeat;

	.container {
		position: absolute;
		top: 11px;
		right: 16px;
		bottom: 11px;
		left: 16px;

		.anywhere {
			height: 53px;
			float: left;
			display: inline-block;
		}
		.sponsor {
			display: inline-block;
			float: right;
		}
		.divider {
			clear: right;
			height: 4px;
			margin-top: 8px;
		}
		.connection {
			margin-top: 20px;
			height: 39px;
		}
	}
}