
@-webkit-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;} 
	50% {right: 2.31481481481%;} 
	100% {right: 5.09259259259% ;}  
}
@-moz-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@-o-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@-ms-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@keyframes arrowmove{
	10% {right: 5.09259259259% ;}  
	49% {right: 2.31481481481%;} 
	50% {right: 2.31481481481%;} 
	100% {right: 5.09259259259% ;}
}
$zurich-blue: #094f9f;

#qzad{
	min-width:720px;
	max-width:1100px;
	height:480px;
	position:relative;
	top:0;
	left:0;
	border: 1px solid $zurich-blue;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		    box-sizing: border-box;
}

.bg-container{
		position:relative;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		//width: 3104px;

		.fork-lift{
			position:absolute;
			
			//bottom: 347px;
			width: 35.0909090909%;
			opacity: 0;
			width: 1179px;
			min-width: 355px;
			//max-width: 386px;
			//left: 41.6363636364%;
			left:1081px;
			top:418px;
			// width: 35.0909090909%;
			// max-width: 386px;
		}
		#bgImg{
			position:absolute;
			display: block;
			//height: 2327px;
			width: 263.272727273%; //3104px;
			top:0;
			left:0;
			//min-width: 1070px;
			
		}
	}

.frames-container{
	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	overflow:hidden;
	-webkit-transition: all 1.5s ease-in-out;
	   -moz-transition: all 1.5s ease-in-out;
	    -ms-transition: all 1.5s ease-in-out;
	     -o-transition: all 1.5s ease-in-out;
	        transition: all 1.5s ease-in-out;

	a{
		display: block;
		text-decoration: none;
	}
	img{
		display: block;
		width: 100%;
		border:0;
	}
	
	.logo{
		position:absolute;
		right: 0%;
		bottom:20px;
		width: 12.7272727273%;
		max-width: 140px;
		min-width: 100px;
	}
	.frames{
		position:inherit;
		bottom:0;
		left:0;
		right: 0;
		top:0;
		.copy{
			position:inherit;
			top:20px;
			left: 2%;
		}
		&.f2, &.f3, &.f4{
			display: none;
		}
		&.f1{
			.copy{
				width: 31.5454545455%;
				max-width: 347px;
				min-width: 307px;
			}
		}
		&.f2{
			.copy{
				width: 22.6363636364%;
				max-width: 249px;
				min-width: 200px;
			}
		}
		&.f3{
			.copy{
				width: 31.5454545455%;
				max-width: 347px;
				min-width: 287px;
			}
		}
		&.f4{
			.copy{
				top:76px;
				width: 36.4545454545%;
				max-width: 401px;
				min-width: 307px;
			}
			.cta{
				background: $zurich-blue;
				position:relative;
				top:381px;
				bottom:20px;
				height: 37px;
				left: 2%;
				width: 20.415879017%;
				max-width: 216px;
				min-width: 200px;
				-webkit-border-radius: 5px;
				   -moz-border-radius: 5px;
				        border-radius: 5px;
			
				img{
					display: block;
					vertical-align: middle;
				}
				span{
					position:absolute;
				}
				.cta-text{
					top:10px;
					left:5.09259259259%;
					
					display: block;
					width: 78.2407407407%;
					max-width: 169px;
					height: 17px;
				}
				.arrow{
					top: 9px;
					right: 5.09259259259%;
					display: inline-block;
					width: 5.55555555556%;
					max-width: 12px;
					height: 19px;
					-webkit-transition: all 0.4s ease;
					   -moz-transition: all 0.4s ease;
					    -ms-transition: all 0.4s ease;
					   		transition: all 0.4s ease;
					&.move{
						-webkit-animation: arrowmove 0.4s linear 1s 2 forwards;
						   -moz-animation: arrowmove 0.4s linear 1s 2 forwards;
							-ms-animation: arrowmove 0.4s linear 1s 2 forwards;
								animation: arrowmove 0.4s linear 1s 2 forwards;
					}
				}
			}
		}
	}
}