
@-webkit-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;} 
	50% {right: 2.31481481481%;} 
	100% {right: 5.09259259259% ;}  
}
@-moz-keyframe arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@-o-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@-ms-keyframes arrowmove{
	10% {right: 5.09259259259% ;} 
	49% {right: 2.31481481481%;}
	50% {right: 2.31481481481%;}
	100% {right: 5.09259259259% ;} 
}
@keyframes arrowmove{
	10% {right: 5.09259259259% ;}  
	49% {right: 2.31481481481%;} 
	50% {right: 2.31481481481%;} 
	100% {right: 5.09259259259% ;}
}
@-webkit-keyframes bgmove{
	0% { -webkit-transform: scale(1) translate3d(-258px,-384px,0); } 
	
	100% { -webkit-transform: scale(0.345) translate3d(-95%,-2887px, 0); }  
}
#qzad{
	min-width:720px;
	max-width:1100px;
	height:480px;
	position:relative;
	top:0;
	left:0;
	border: 1px solid #D8D8D8;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		    box-sizing: border-box;
}

.bg-container{
		position:absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		height: 2327px;
		width: 3104px;
		background: url("../img/f1-pic.jpg") -258px -384px no-repeat;
		background-size: 3104px;

	-webkit-transition: all 1s ease-in-out; 
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            //transition: all 1s ease;
		
		&.anim{

			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right: 0;
			background-position: -95% -233px;
			background-repeat: no-repeat; 
			background-size: 1070px;
			width: 100%;
			// max-width: 1070px;
			// min-width: 720px;
			 height: 802px;
		}
	}


.frames-container{
	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	overflow:hidden;
	-webkit-transition: all 1.5s ease-in-out;
	   -moz-transition: all 1.5s ease-in-out;
	    -ms-transition: all 1.5s ease-in-out;
	     -o-transition: all 1.5s ease-in-out;
	        transition: all 1.5s ease-in-out;

	a{
		display: block;
		text-decoration: none;
	}
	img{
		display: block;
		width: 100%;
		border:0;
	}
	.logo{
		position:absolute;
		right: 0%;
		bottom:20px;
		width: 12.7272727273%;
		max-width: 140px;
		min-width: 100px;
	}
	.frames{
		position:inherit;
		bottom:0;
		left:0;
		right: 0;
		top:0;
		.copy{
			position:inherit;
			top:20px;
			left: 2%;
		}
		&.f2, &.f3, &.f4{
			display: none;
		}
		&.f1{
			.copy{
				width: 31.5454545455%;
				max-width: 347px;
				min-width: 307px;
			}
		}
		&.f2{
			.copy{
				width: 22.6363636364%;
				max-width: 249px;
				min-width: 200px;
			}
		}
		&.f3{
			.copy{
				width: 31.5454545455%;
				max-width: 347px;
				min-width: 287px;
			}
		}
		&.f4{
			.copy{
				top:76px;
				width: 36.4545454545%;
				max-width: 401px;
				min-width: 307px;
			}
			.cta{
				background: #094f9f;
				position:relative;
				top:381px;
				bottom:20px;
				height: 37px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				left: 2%;
				width: 20.415879017%;
				max-width: 216px;
				min-width: 200px;
			
				img{
					display: block;
					vertical-align: middle;
				}
				span{
					position:absolute;
				}
				.cta-text{
					top:10px;
					left:5.09259259259%;
					display: block;
					width: 78.2407407407%;
					max-width: 169px;
					height: 17px;
				}
				.arrow{
					top: 8px;
					right: 5.09259259259%;
					display: inline-block;
					width: 5.55555555556%;
					max-width: 12px;
					height: 19px;
					-webkit-transition: all 0.4s ease;
					   -moz-transition: all 0.4s ease;
					    -ms-transition: all 0.4s ease;
					   		transition: all 0.4s ease;
					&.move{
						-webkit-animation: arrowmove 0.4s forwards 1s;
						   -moz-animation: arrowmove 0.4s forwards 1s;
							-ms-animation: arrowmove 0.4s forwards 1s;
								animation: arrowmove 0.4s forwards 1s;
					}
				}
			}
		}
	}
}