/* line 1, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/main.scss */
a {
  display: block;
}

/* line 8, ../sass/main.scss */
#qzad {
  position: relative;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 150px;
  background: url(../images/bg.jpg) right center no-repeat;
}
/* line 16, ../sass/main.scss */
#qzad .container {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
}
/* line 23, ../sass/main.scss */
#qzad .container .connection {
  margin-top: 19px;
}
/* line 26, ../sass/main.scss */
#qzad .container .divider {
  margin-top: 12px;
  float: left;
}
/* line 30, ../sass/main.scss */
#qzad .container .sponsor {
  margin-top: -8px;
  display: inline-block;
  float: right;
}
