body { margin: 0; }

#qzad { position: absolute; width: 100%; height: 480px; min-width: 720px; max-width: 1100px; overflow: hidden; background: url(../images/bg.jpg) no-repeat center center; }
#qzad .copy { position: relative; z-index: 11; margin: 84px 0 0 74px; }
#qzad .copy img { display: block; }
#qzad .copy img:first-child { margin: 0 0 36px 0; }
#qzad .cta { display: block; position: relative; z-index: 11; width: 203px; height: 47px; margin: 108px 0 0 74px; background-color: #005aab; border-radius: 3px; }
#qzad .cta img:first-child { width: 159px; padding: 14px 0 0 10px; float: left; }
#qzad .cta img:last-child { padding: 11px 0 0 10px; }
#qzad .logo { position: absolute; right: 0; z-index: 11; bottom: 28px; width: 158px; height: 112px; background: url(../images/logo.jpg) no-repeat center center; }
#qzad .video-container { position: absolute; z-index: 101; top: 0; right: 0; bottom: 0; left: 0; background-color: black; display: none; }
#qzad .video-container .video { width: 100%; height: 100%; }
#qzad .video-container .x { color: white; position: absolute; top: 0; right: 0; font-size: 30px; width: 30px; height: 30px; cursor: pointer; text-align: center; line-height: 26px; border: 1px solid white; }

.s1 { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); transform: scale(0.3); -webkit-animation: moveclouds 4s linear infinite, sideWays 4s ease-in-out infinite alternate; -moz-animation: moveclouds 4s linear infinite, sideWays 4s ease-in-out infinite alternate; -o-animation: moveclouds 4s linear infinite, sideWays 4s ease-in-out infinite alternate; }

.s2 { -webkit-transform: scale(0.3); -moz-transform: scale(0.3); transform: scale(0.3); -webkit-animation: moveclouds 6s linear infinite, sideWays 5s ease-in-out infinite alternate; -moz-animation: moveclouds 6s linear infinite, sideWays 5s ease-in-out infinite alternate; -o-animation: moveclouds 6s linear infinite, sideWays 5s ease-in-out infinite alternate; }

.s3 { -webkit-transform: scale(0.4); -moz-transform: scale(0.4); transform: scale(0.4); -webkit-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate; -moz-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate; -o-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate; }

.s4 { -webkit-transform: scale(0.25); -moz-transform: scale(0.25); transform: scale(0.25); -webkit-animation: moveclouds 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate; -moz-animation: moveclouds 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate; -o-animation: moveclouds 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate; }

.s5 { -webkit-transform: scale(0.25); -moz-transform: scale(0.25); transform: scale(0.25); -webkit-animation: moveclouds 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate; -moz-animation: moveclouds 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate; -o-animation: moveclouds 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate; }

@-webkit-keyframes moveclouds { 0% { top: -10px; }
  100% { top: 480px; } }

@-webkit-keyframes sideWays { 0% { margin-left: 0px; }
  100% { margin-left: 800px; } }

@-moz-keyframes moveclouds { 0% { top: -10px; }
  100% { top: 480px; } }

@-moz-keyframes sideWays { 0% { margin-left: 0px; }
  100% { margin-left: 800px; } }

@-o-keyframes moveclouds { 0% { top: -10px; }
  100% { top: 480px; } }

@-o-keyframes sideWays { 0% { margin-left: 0px; }
  100% { margin-left: 800px; } }
